section#contact .container {
  display: grid;
  grid-template-columns: 20rem auto;
  gap: 5rem;
}

section#contact aside {
  background: var(--color-primary);
  padding: 2rem;
  font-size: 0.9rem;
  color: var(--color-light);
}

section#contact aside h4 {
  color: var(--color-black);
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

section#contact aside article {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

section#contact aside article i {
  color: var(--color-white);
  font-size: 1.2rem;
}

section#contact aside article h5 {
  font-weight: 600;
  color: var(--color-white);
}

section#contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section#contact form input,
section#contact form textarea {
  padding: 1.4rem;
  background: var(--color-primary);
}

section#contact form textarea {
  height: 10rem;
}

section#contact form input::placeholder,
section#contact form textarea::placeholder {
  color: var(--color-light);
}

section#contact form input:focus,
section#contact form textarea:focus {
  background: var(--color-black);
  color: var(--color-white);
}

section#contact form button {
  width: 8rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  section#contact .container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
